extends ../../layout

block content
  .row
    .col-md-12
      h2
        | Posts Listing
        span.pull-right
          button(type='button').btn.btn-default.btn-primary
            i.fa.fa-plus
            | &nbsp; Add New

      if (rows && rows.length)
        table.table.table-striped.table-hover.table-bordered
          thead
            tr
              th Title
              th Author
              th Created On
              th Description
              th Actions

          tbody
            each row in rows
              tr
                td
                  a(href='/rows/#{row.post.slug}', title=row.post.title)
                    | #{row.post.title}
                td= row.user ? row.user.displayName : 'N/A'
                td= row.post.created
                td= row.post.updated
                td.actions
                  button(type='button').btn.btn-sm.btn-default
                    i.fa.fa-edit
                  | &nbsp;
                  button(type='button').btn.btn-sm.btn-danger
                    i.fa.fa-times
      else
        .alert.alert-info(role='alert')
          strong There are no posts available yet.
          p You can add a Post by clicking the Add button above.
